.mealIcon{
    margin-top: .25rem;
    margin-bottom: .25rem;
    margin-right: .5rem;
    margin-left: .5rem;
  
  }

@font-face {
    font-family: 'FugazOne';
    src: url('/fonts/FugazOne-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

.mealChoice{
    font-family: 'FugazOne', sans-serif;
    font-size: 1.5rem;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    color: white;
  }  

  .mealName{
    position: relative;
    z-index: -1;
    top: -25px;
  }

  .containerMeal {
    display: flex;
    position: relative;
    width: 200px;
  }

.buttonContainer {
    height: 20px;
    width: 20px;
    margin-right: 1px;
    position: absolute;
    top: 4px; 
    right: 4px; 
    z-index:2;
    margin: 2px;
}